<body class="meet_the_team">
    <div class="navbar nav-home">
        <%= render 'layouts/header' %>
    </div>
    <div class="container">
                        <div class="row">
                            <div class="heading-title text-center">
                                <h3 class="text-uppercase">Meet The Team </h3>
                                <p class="p-top-30 half-txt">We are the women who designed and engineered this portal from the ground up. Please feel free to reach out and say hello! </p>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <div class="team-member">
                                    <div class="team-img">
                                      <%= image_tag("cassidy.jpeg", alt: "team member", width:"160%", heigth:"230%", class: "image-1") %>
                                    </div>
                                    <div class="team-hover">
                                        <div class="desk">
                                            <p>Cassidy Soutter is a senior at the University of North Carolina at Chapel Hill, pursuing a Bachelor of Science in Computer Science with a minor in Spanish for business. She is a year-round technical intern for SAS and most recently interned for the Walt Disney Company as a Software Engineering Intern during the summer of 2019. At the start of college, she was a Vocal Performance major, but switched to Computer Science after discovering her passion for utilizing technology to create a better future. She is a founding member and the current President of Computer Science+Social Good, a student led organization that works with nonprofits in Chapel Hill to provide custom technology solutions that empower their missions to improve the community. When she isn't coding, you can find her volunteering, knitting blankets, or exploring something new. Rewriting the Code has given Cassidy a space to learn and lead, offering her a supportive community to help navigate tech as she conquers new challenges at the start of her career.</p>
                                        </div>
                                        <div class="s-link">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-title">
                                    <h5>Cassidy Soutter</h5>
                                    <span>Project Manager & Full Stack Engineer</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="team-member">
                                    <div class="team-img">
                                      <%= image_tag("lindsay.jpg", alt: "team member", width: "118%", height: "130%", class: "image-3") %>
                                    </div>
                                    <div class="team-hover">
                                        <div class="desk">
                                            <p>Lindsay is a Fellow at Rewriting the Code who is double majoring in computer science and linguistics with a Japanese minor at UNC-Chapel Hill. She serves as an undergraduate teaching assistant for UNC’s introductory level computer science class, the treasurer of Carolina Analytics & Data Science, and the Director of Logistics for Pearl Hacks. She is passionate about lifting up minorities in tech and creating welcoming environments for people from all walks of life in tech spaces, as well as using technology to drive positive change. Outside of programming, she loves all things creative. Lindsay is the treasurer and a performer in the Flying Silk Chinese Dance team at UNC. In her free time, she loves writing, journaling, and playing video games.</p>
                                        </div>
                                        <div class="s-link">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-title">
                                    <h5>Lindsay Zhou</h5>
                                    <span>Full Stack Engineer</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="team-member">
                                    <div class="team-img">
                                      <%= image_tag("lindsay.jpg", alt: "team member", width: "118%", height: "130%", class: "image-3") %>
                                    </div>
                                    <div class="team-hover">
                                        <div class="desk">
                                            <p>I love to introduce myself as a hardcore Web Designer.</p>
                                        </div>
                                        <div class="s-link">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-title">
                                    <h5>Courtney Campbell</h5>
                                    <span>Full Stack Engineer</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="team-member">
                                    <div class="team-img">
                                      <%= image_tag("liya.JPG", alt: "team member", width: "102%", height: "98%", class: "image-4") %>
                                    </div>
                                    <div class="team-hover">
                                        <div class="desk">
                                            <p>I love to introduce myself as a hardcore Web Designer.</p>
                                        </div>
                                        <div class="s-link">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-title">
                                    <h5>Liya Mulugeta</h5>
                                    <span>Full Stack Engineer</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="team-member">
                                    <div class="team-img">
                                      <%= image_tag("kellie.jpg", alt: "team member", width: "91%", height: "18%", class: "image-4") %>
                                    </div>
                                    <div class="team-hover">
                                        <div class="desk">
                                            <p>Kellie is a recent graduate of Bryn Mawr College where she majored in Computer Science and minored in Urban Studies. She was a 2018 hackNY fellow where she interned at BuzzFeed will be joining Dataminr as a Software Engineer in Fall 2019. She loves art museums, pop music, and mechanical keyboards and can be found on Twitter @dinhkellie.</p>
                                        </div>
                                        <div class="s-link">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-title">
                                    <h5>Kellie Dinh</h5>
                                    <span>Full Stack Engineer</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="team-member">
                                    <div class="team-img">
                                        <img src="https://image.freepik.com/free-photo/well-dressed-executive-with-crossed-arms_1098-3930.jpg" alt="team member" class="img-responsive">
                                    </div>
                                    <div class="team-hover">
                                        <div class="desk">
                                            <p>I love to introduce myself as a hardcore Web Designer.</p>
                                        </div>
                                        <div class="s-link">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-title">
                                    <h5>Adel Wu</h5>
                                    <span>Full Stack Engineer</span>
                                </div>
                            </div>
                        </div>

                    </div>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= yield %>
</body>
