<body class="landing">
    <div class="navbar nav-home">
        <%= render 'layouts/header' %>
    </div>
    <%= yield %>
    <div class="main">
      <div class="calendar-container">
          <div class="calendar-box">
              <div class="calendar-color"></div>
              <div class="box-title-text">Calendar</div>
                  <%= month_calendar do |date| %>
                    <%= date.day %>
                  <% end %>
          </div>
      </div>
      <div class="announcements-and-jobs">
          <div class="announcements-container">
              <div class="announcements-box">
                  <div class="announcements-color"></div>
                  <div class="box-title-text">Announcements</div>
                  <div class="announcements-list-container">
                      <div class="announcements-list">
                          <div class="announcement">
                              <div class="announcement-content">
                                  <div class="announcement-header">
                                      <div class="announcement-title">New RTC Portal is out!</div>
                                      <div class="announcement-author">
                                          <div class="announcement-author-icon">S</div> Sue Harnett
                                      </div>
                                  </div>
                                  <div class="announcement-preview">
                                      Welcome to our new portal, where you can find information ranging from
                                      resources to a member directory to job opportunities! Stay tuned for more
                                      info...
                                  </div>
                                  <div class="announcement-date">3:42 pm - 8 July 2019</div>
                              </div>
                          </div>
                          <div class="announcement">
                          </div>
                          <div class="announcement">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="jobs-container">
              <div class="jobs-box">
                  <div class="jobs-color"></div>
                  <div class="box-title-text">Jobs</div>
                  <div class="jobs">Coming Soon!</div>
              </div>
          </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
    <%= yield %>
</body>
